html {
font-size: 16px;
font-family: "Arial", "Helvetica", sans-serif;
background-color: white;
}


h1 {
font-size: 3em;
font-weight: bold;

}

h2{
font-size: 1.4em;
font-weight: bold;
}

h3{
font-size: 1.2em;
font-weight: bold;
}

.container {
  width: auto 0;
}

.container:nth-child(2n+2) {
  background-color: #DCDCDC;
}


/*Header*/


nav {
  display: flex;
  align-items: center;
  height: 4em;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

header .container img {
  display: flex;
  height: 2em;
  padding-left: 1.5em;
}

header .container span {
  text-transform: uppercase;
  padding-left: 1em
}

header .container span b {
  font-weight: bold;
}

.menu ul {
  margin-right: 1.5em;
}

.menu li {
  display: inline;
  padding: .5em;
}



/*Banner*/

.Banner {
  display: flex;
  flex-direction: row;
}


.banner-image img {
  display: flex;
  vertical-align: middle;
  width: 60%;
}


.side-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

.button {
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em 0;
  margin-top: 2em;
  width: 80%;
}

.button:hover {
  background-color: white;
  color: black;
}





/*Practice*/




/*learn*/



/*Exhibit*/


/*Footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
}

footer .copyright {
  padding-left: 1.5em;
  padding-top: 1em;
}

.navigation ul {
  margin-right: 1.5em;
}

.navigation li {
  display: inline;
  padding: .5em;
}
